.home ul {
  list-style-type: none;
  padding-left: 0px
}
.home ul li {
  margin-bottom: 15px;
  padding: 5px 10px;
  border-radius: 10px;
  box-shadow: -1px -1px 5px 0px rgba(171, 169, 169, 0.75);
  -webkit-box-shadow: -1px -1px 5px 0px rgba(171, 169, 169, 0.75);
  -moz-box-shadow: -1px -1px 5px 0px rgba(171, 169, 169, 0.75);
}
.home ul li a {
  text-decoration: none;
  text-transform: capitalize;
}
.home .title {
  font-weight: bold;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
}
.home .description {
  display: block;
  line-height: 5px;
  font-size: 12px;
}
.home .time {
  font-size: 8px;
  color: grey;
}
